/* latin-ext */
@font-face{
	font-family: 'Clicker Script';
	font-style: normal;
	font-weight: 400;
	src: local('Clicker Script'), local('ClickerScript-Regular'), url(fonts/Zupmk8XwADjufGxWB9KThJsabQn3CiWJQhcyqO-X-wo.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face{
	font-family: 'Clicker Script';
	font-style: normal;
	font-weight: 400;
	src: local('Clicker Script'), local('ClickerScript-Regular'), url(fonts/Zupmk8XwADjufGxWB9KThJsM3FTMmj2kTPH3yX99Yaw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.reveal h6
{
	font-size: 0.625em;
	content: "";
	display: inline-block;
}

.reveal pre
{
	box-shadow: none;
}

.reveal pre code
{
	padding: 10px;
	border-radius: 0.25em;
}

.reveal .fancy
{
	font-family: "Clicker Script", cursive;
	font-size: 133.33%;
	text-transform: none;
	font-style: italic;
}

.reveal blockquote
{
	font-size: 0.5em;
}

ul.filesystem,
ul.filesystem ul,
ul.filesystem ul ul
{
	list-style: none;
}

ul.filesystem li:before
{
	content: "- ";
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code
{
	text-transform: none;
}

img.reduce
{
	max-width: 50%;
	height: auto;
}

h4.fancy.reduce
{
	font-size: 0.875em;
}

img.introImage
{
	max-width: 45%;
	float: left;
	display: inline-block;
}

ul.floatedList
{
	float: left;
	display: inline-block;
	margin: 1em 0 0 2em;
	max-width: 35%;
	font-size: 0.75em;
}

ul.floatedList li
{
	margin-bottom: 0.25em;
}